You have been invited to: <%= @event.title %>
==================================================

Time: <%= @event.time.localtime %>
It is located at the following address: <%= @event.location %>

<h2>Here is a description of the event:</h2>
<%= @event.description %>


Additional Comments:
<%= @event.comments %>
